.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  flex: 1;
  max-width: calc(18% - 20px);
  height: 50rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 0.5px solid #ccc; 
  padding: 40px;
  padding-bottom: 20px;
}

img {
  height: 15rem;
  width: 10rem;
  padding-top: 15px;
}

.buy-button {
  align-self: center;
}

